#container {
  display: flex;
  flex-direction: column;
  margin:  50px;
  padding: 15px 20px 10px 20px;
  box-shadow: 0px 10px 50px blue;
  align-items: center;
  border-radius: 20px;
}


.title {
  font-family: Bevan;
  color: #333;
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
}

.subtitle {
  margin: 10px 80px;
  font-style: italic;
  font-family: Bevan;
  color: #333;
}

#display {  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 20px;
  width: 130%;
  font-family: 'Times New Roman';
  font-size: 1rem;
  color: black;
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: 0px 0px 15px blue;
}    

